body {
	background: black;
}

/* {
	border: 1px dashed red;
	min-height: 10px;
}*/
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
img {
	width: 50px;
	height: 50px;
	padding: 10px;
}
h1 {
	width: 1000px;
	margin: 0%;
	font-family: "Balsamiq Sans", cursive;
	padding: 10px;
}
.postcard-body {
	display: flex;
	font-family: "Balsamiq Sans", cursive;
}
p {
	font-size: 90%;
}
.p1 {
	margin-top: 0%;
}
.body-left,
.body-right {
	padding: 10px;
}
input {
	border: none;
	border-bottom: 1px gray solid;
	font-family: "Balsamiq Sans", cursive;
	font-size: 100%;
	padding: 0.4rem 0.4rem;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: darkgray;
	padding: 0.5rem 0.5rem;
	border-radius: 5%;
	border: 1px black solid;
	font-family: "Balsamiq Sans", cursive;
}
